[submodule "roles/ssh_authorized_keys"]
	path = roles/ssh_authorized_keys
	url = https://github.com/chaos-bodensee/role-ssh_authorized_keys.git
[submodule "files/ssh_public_keys"]
	path = files/ssh_public_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/home_environment"]
	path = roles/home_environment
	url = https://github.com/chaos-bodensee/role_dotfiles.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/chaos-bodensee/role_sshd.git
[submodule "roles/info-beamer"]
	path = roles/info-beamer
	url = https://gitea.see-base.de/toolbox/role_info-beamer.git
[submodule "roles/ffbsee_special"]
	path = roles/ffbsee_special
	url = https://github.com/ffbsee/role_special-camp-infobeamer.git
